#surveys {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #surveys td, #surveys th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #surveys tr:nth-child(even){background-color: #f2f2f2;}
  
  #surveys tr:hover {background-color: #ddd;}
  
  #surveys th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(7, 7, 7);
  }